<div class="min-h-screen flex flex-col min-[720px]:flex-row items-center justify-center">
    <div class="grow w-full flex justify-center relative" *ngIf="isMovil">
      <app-icon class="absolute cursor-pointer left-3.5 top-3.5 text-2xl text-[var(--color-black-alt)]" icon="faCircleArrowLeft" *ngIf="recoverPart2" (click)="formChangePass.reset(); recoverPart2 = false;"></app-icon>
        <img class="absolute w-[37.5px] right-3.5 top-3.5 rounded-full hover:bg-gray-200 cursor-pointer" (click)="returnLogin()" src="assets/svg/icon-close-dialog.svg" alt="">
        <div class="flex flex-col gap-8 w-4/5 max-w-[500px] pt-9" [formGroup]="formChangePass">
          <span class="text-[32px] leading-[32px] font-medium text-center text-white">Reestablecer Contraseña</span>
          <div class="flex flex-col gap-1">
            <input #nameInput placeholder="Email" formControlName="ctrlEmail" type="email" class="w-full rounded border-gray-400 border pl-4 pr-10 py-3 font-light focus:border-blue-200 focus:border"/>
            <div *ngIf="formChangePass.controls.ctrlEmail.touched && formChangePass.controls.ctrlEmail.invalid">
                <span *ngIf="formChangePass.controls.ctrlEmail.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Correo requerido.
                </span>
            </div>
          </div>
          <app-btn class="mt-8" [color]="'base'" (click)="checkRecoverPart1()" [loading]="wait">Aceptar</app-btn>
        </div>
      </div>
      <div class="flex-1 flex justify-center items-center" *ngIf="!isMovil">
        <div class="relative min-[769px]:w-4/5 max-w-[500px]">
          <app-icon class="absolute cursor-pointer left-3.5 top-3.5 text-2xl text-[var(--color-black-alt)]" icon="faCircleArrowLeft" *ngIf="recoverPart2" (click)="formChangePass.reset(); recoverPart2 = false;"></app-icon>
          <img class="absolute w-[37.5px] right-3.5 top-3.5 rounded-full hover:bg-gray-200 cursor-pointer" (click)="returnLogin()" src="assets/svg/icon-close-dialog.svg" alt="">
          <div class="botonApariencia bg-white py-[50.5px] flex flex-col gap-5">
            <div class="flex flex-col gap-4 px-[39.5px] items-center mb-4 min-[769px]:mb-10">
              <span class="max-[934px]:text-[18px] text-[32px] leading-[32px] font-medium text-center">Restablecer Contraseña</span>
            </div>
            <form class="flex flex-col px-[45.5px] gap-8" [formGroup]="formChangePass" (ngSubmit)="checkRecoverPart1()" *ngIf="!recoverPart2">
              <div class="flex flex-col gap-1">
                <div class="relative">
                  <input #nameInput placeholder="Email" formControlName="ctrlEmail" type="email" class="w-full rounded border-gray-400 border pl-4 pr-10 py-3 font-light focus:border-blue-200 focus:border"/>
                </div>
                <div *ngIf="formChangePass.controls.ctrlEmail.touched && formChangePass.controls.ctrlEmail.invalid">
                    <span *ngIf="formChangePass.controls.ctrlEmail.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                        Correo requerido
                    </span>
                    <span *ngIf="formChangePass.controls.ctrlEmail.hasError('email')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                        Formato de correo no valido
                    </span>
                </div>
              </div>
              <div class="flex flex-col gap-3 items-center">
                <app-btn class="!text-base w-3/5" [color]="'base'" typeBtn="submit" [loading]="true" [loading]="wait">Aceptar</app-btn>
              </div>
            </form>
            <form class="flex flex-col px-[45.5px] gap-8" [formGroup]="formChangePassPart2" (ngSubmit)="checkRecoverPart2()" *ngIf="recoverPart2">
              <div class="flex flex-col gap-1">
                <div class="relative">
                  <input #nameInput placeholder="N° de Documento *" formControlName="ctrlDocumento" type="text" class="w-full rounded border-gray-400 border pl-4 pr-10 py-3 font-light focus:border-blue-200 focus:border"/>
                </div>
                <div *ngIf="formChangePassPart2.controls.ctrlDocumento.touched && formChangePassPart2.controls.ctrlDocumento.invalid">
                    <span *ngIf="formChangePassPart2.controls.ctrlDocumento.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                        N° de Documento requerido
                    </span>
                </div>
              </div>
              <div class="flex flex-col gap-1">
                <div class="relative">
                  <input #nameInput placeholder="Código *" formControlName="ctrlToken" type="number" class="w-full rounded border-gray-400 border pl-4 pr-10 py-3 font-light focus:border-blue-200 focus:border"/>
                </div>
                <div *ngIf="formChangePassPart2.controls.ctrlToken.touched && formChangePassPart2.controls.ctrlToken.invalid">
                    <span *ngIf="formChangePassPart2.controls.ctrlToken.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                        Código requerido
                    </span>
                </div>
              </div>
              <div class="flex flex-col gap-1">
                <div class="relative">
                  <input #nameInput placeholder="Nueva Contraseña *" formControlName="ctrlPass" [type]="seePass ? 'text' : 'password'" class="w-full rounded border-gray-400 border pl-4 pr-10 py-3 font-light focus:border-blue-200 focus:border text-[var(--color-black-alt)]"/>
                  <div class="absolute inset-y-0 right-2 content-center cursor-pointer text-[var(--color-black-alt)]" (click)="seePass = !seePass">
                    <app-icon class="p-1" [icon]="seePass ? 'faEyeSlash' : 'faEye'"></app-icon>
                  </div>
                </div>
                <div *ngIf="formChangePassPart2.controls.ctrlPass.touched && formChangePassPart2.controls.ctrlPass.invalid">
                    <span *ngIf="formChangePassPart2.controls.ctrlPass.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                        Nueva Contraseña requerida
                    </span>
                </div>
              </div>
              <div class="flex flex-col gap-3 items-center">
                <app-btn class="!text-base w-3/5" [color]="'base'" typeBtn="submit" [loading]="true" [loading]="wait">Aceptar</app-btn>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>