<div class="flex flex-row justify-end items-center py-2 px-1 bg-white">
    <div class="flex flex-row gap-1.5 items-center">
        <div class="w-[48px] h-[48px] flex justify-center items-center" *ngIf="userData">
            <img src="assets/svg/icon-bell.svg" alt=""/>
        </div>
        <div class="py-[14px] px-4 bg-[#F7F7F9] border-[#C5C5C5] border-solid border rounded-2xl select-none flex flex-row gap-5" *ngIf="userData" [cdkMenuTriggerFor]="optionsAccount">
            <span>Usuario registrado</span>
            <img src="assets/svg/icon-down.svg" alt=""/>
            <ng-template #optionsAccount>
                <div class="botonBorde bg-[#F7F7F9] border-[#C5C5C5] border-solid text-[var(--color-black-alt)] text-[16px]" cdkMenu>
                    <div class="flex flex-col" cdkMenuGroup>
                        <div class="flex flex-row items-center gap-2.5 cursor-pointer py-2.5 px-3 hover:bg-gray-200" cdkMenuItem>
                          <img src="assets/svg/navbar/icon-reload.svg" />
                          <span>Actualizar datos</span>
                        </div>
                        <div class="flex flex-row items-center gap-2.5 cursor-pointer py-2.5 px-3 hover:bg-gray-200" cdkMenuItem (click)="logout()">
                          <img src="assets/svg/navbar/icon-log-out.svg" />
                          <span>Cerrar sesión</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
        <app-btn *ngIf="!userData" color="bordeado" (click)="returnToLogin()">INICIAR SESIÓN</app-btn>
    </div>
</div>