<div class="flex flex-row justify-end items-center py-2 px-1 bg-white">
    <div class="flex flex-row gap-1.5">
        <div class="w-[48px] h-[48px] flex justify-center items-center">
            <img src="assets/svg/icon-bell.svg" alt=""/>
        </div>
        <div class="py-[14px] px-4 bg-[#F7F7F9] border-[#C5C5C5] border-solid border rounded-2xl select-none flex flex-row gap-5">
            <span>Usuario registrado</span>
            <img src="assets/svg/icon-down.svg" alt=""/>
        </div>
    </div>
</div>