.toolbarStyle{
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.25rem;
}

/* Estilo moderno del scroll */
.contenidoTablaMutada::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.contenidoTablaMutada::-webkit-scrollbar-track {
    background: #f1f1f1; /* Fondo del track */
}

.contenidoTablaMutada::-webkit-scrollbar-thumb {
    background-color: #00B7BE; /* Color del scroll */
    border-radius: 10px; /* Bordes redondeados */
}

.contenidoTablaMutada::-webkit-scrollbar-thumb:hover {
    background-color: #008F92; /* Color al pasar el mouse */
}