<div class="rounded-lg border-2 relative" [ngClass]="compartidoService.ctrlModoOscuro.value ? 'bg-[#121212] text-white border-gray-300' : 'bg-white text-[var(--color-a-degrade)] border-[var(--color-black-alt)]'">
    <div class="flex flex-col items-center gap-8 py-6 px-4">
        <span class="text-2xl font-semibold">Añadir documento a Bandeja</span>
        <div class="flex flex-col gap-1">
          <div class="relative">
            <select [formControl]="ctrlTipoSeguro"
              class="w-full rounded border-gray-400 border pl-4 pr-10 py-3 font-light focus:border-blue-200 focus:border" [ngClass]="compartidoService.ctrlModoOscuro.value ? 'text-gray-200 bg-[#3a3a3a]' : 'text-[var(--color-black-alt)]'">
              <option [value]="null" disabled selected>Seleccionar tipo</option>
              <option *ngFor="let opt of listOpciones, index as i" [value]='opt.value'>{{opt.nombre}}</option>
            </select>
          </div>
          <div *ngIf="ctrlTipoSeguro.touched && ctrlTipoSeguro.invalid">
              <span *ngIf="ctrlTipoSeguro.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                Selección requerida
              </span>
          </div>
        </div>
        <app-btn class="!text-base w-3/5" [color]="'base'" (click)="checkValid()" [loading]="waitDataSend">Aceptar</app-btn>
    </div>
</div>