<div class="w-full relative h-full flex flex-col overflow-auto gap-2.5 p-2.5 botonApariencia !rounded-none min-w-[250px]" [ngClass]="[userData ? '' : 'justify-between', funcionesCompartidasService.ctrlModoOscuro.value ? 'bg-[#373739]' : 'bg-[#F7F2FA]']">
    <div class="py-[7px] flex flex-row shrink-0" [ngClass]="funcionesCompartidasService.ctrlModoOscuro.value ? 'invert' : ''">
        <div class="p-2 rounded-2xl hover:botonApariencia hover:cursor-pointer hover:bg-gray-200 select-none" routerLink="/">
            <div class="px-[3px] py-1.5">
                <app-icon icon="faHome"></app-icon>
                <!-- <img src="assets/svg/icon-sidenav-three-bars.svg" alt=""/> -->
            </div>
        </div>
    </div>
    <div class="py-2.5 px-1 flex flex-col justify-between grow" *ngIf="userData">
        <div class="flex flex-col gap-3" *ngIf="adminLogged">
            <div *ngFor="let rutaOpcion of optAdministrator, index as i" [ngClass]="funcionesCompartidasService.ctrlModoOscuro.value ? 'list-item-admin-dark' : 'list-item-admin'" [routerLink]="rutaOpcion.rutaVista"[routerLinkActive]="funcionesCompartidasService.ctrlModoOscuro.value ? 'list-item-activo-dark' : 'list-item-activo'">
                <app-icon [icon]="rutaOpcion.icon"></app-icon>
                <span>{{rutaOpcion.nomVista}}</span>
            </div>
        </div>
        <div class="flex flex-col gap-3" [ngClass]="funcionesCompartidasService.ctrlModoOscuro.value ? 'invert' : ''" *ngIf="!adminLogged">
            <div class="flex flex-row items-center justify-between">
                <span class="font-bold text-[#1D1B20]">Archivos recientes</span>
                <app-icon icon="faAdd" class="w-[18.94px] cursor-pointer" (click)="openDialogAddArchivos()" matTooltip="Añadir contrato por ver"></app-icon>
            </div>
            <div class="flex flex-col gap-2.5 min-h-20 min-x-[223px] relative">
                <div class="w-full h-full flex flex-col text-center items-center justify-center gap-2.5 rounded absolute bg-[#FFFFFFBB]" *ngIf="waitListArchivos">
                    <app-icon [pulse]="true" icon="faSpinner"></app-icon>
                    <b>Obteniendo Archivos</b>
                </div>
                <div class="w-full h-full flex flex-col text-center items-center justify-center gap-2.5 w-[223px]" *ngIf="!waitListArchivos && listArchivosUsuario.length == 0">
                    <b>No se cuenta con archivos seleccionados, añade uno</b>
                </div>
                <div class="flex flex-row gap-1 justify-between text-xs px-2.5 py-1.5 rounded cursor-pointer hover:bg-gray-200 w-[223px] listadoArchivo" *ngFor="let opcionArchivo of listArchivosUsuario, index as i" (click)="openDocument(opcionArchivo)">
                    <div class="flex flex-row gap-2.5 grow">
                        <img class="w-4" src="assets/svg/icon-sidenav-bubble-text.svg" alt=""/>
                        <span class="content-center">{{opcionArchivo.nombre}}</span>
                    </div>
                    <div class="flex-row gap-1 shrink-0 !text-sm opcionesExtra">
                        <div class="px-0.5" (click)="activeNotification(opcionArchivo, $event)">
                            <app-icon [icon]="opcionArchivo.value == 1 ? 'faBell' : 'faBellSlash'"></app-icon>
                        </div>
                        <div class="px-0.5">
                            <app-icon icon="faTrash"></app-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-3 pb-4" *ngIf="!adminLogged">
            <span class="font-bold text-[#1D1B20]" [ngClass]="funcionesCompartidasService.ctrlModoOscuro.value ? 'invert' : ''">Tipos de seguros</span>
            <ul class="flex flex-col gap-2.5">
                <li *ngFor="let opcion of listOpcionesFiltro, index as i">
                    <input type="radio" [id]="'tipo-seguro' + opcion.value" [value]="opcion.value" [formControl]="funcionesCompartidasService.ctrlFiltroSeguro" class="hidden peer" required="">
                    <label [for]="'tipo-seguro' + opcion.value" class="inline-flex items-center justify-center w-full py-2.5 text-gray-500 bg-white border-2 border-gray-200 rounded-3xl cursor-pointer peer-checked:border-blue-600 peer-checked:bg-[#4F4F4F42] hover:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50">
                        <span class="text-center font-semibold">{{opcion.tipo}}</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col gap-1 py-2.5 px-2 text-[#79747E] font-bold">
        <div class="flex flex-col" [ngClass]="funcionesCompartidasService.ctrlModoOscuro.value ? 'invert' : ''" *ngIf="!adminLogged">
            <div class="flex flex-row justify-end">
                <div #execMenuAyuda [cdkMenuTriggerFor]="optionsAyuda"></div>
            </div>
            <div class="flex flex-row gap-[18px] px-1 py-2 rounded cursor-pointer hover:bg-gray-200" *ngIf="userData" (click)="execMenuAyuda.click()">
                <div class="w-4 flex items-center justify-center">
                    <img src="assets/svg/icon-sidenav-alert.svg" alt=""/>
                </div>
                <span>Ayuda</span>
            </div>
        </div>
        <div class="flex flex-row gap-[18px] px-1 py-2 rounded cursor-pointer hover:bg-gray-200" *ngIf="!adminLogged" [ngClass]="funcionesCompartidasService.ctrlModoOscuro.value ? 'invert' : ''" (click)="openDialogGiveReview()">
            <div class="w-4 flex items-center justify-center">
                <img src="assets/svg/icon-sidenav-star.svg" alt=""/>
            </div>
            <span>Calificar</span>
        </div>
        <div class="flex flex-col" [ngClass]="funcionesCompartidasService.ctrlModoOscuro.value ? 'invert' : ''">
            <div class="flex flex-row justify-end">
                <div #execMenuConfig [cdkMenuTriggerFor]="optionsConfigurations"></div>
            </div>
            <div class="flex flex-row gap-[18px] px-1 py-2 rounded cursor-pointer hover:bg-gray-200" (click)="execMenuConfig.click()">
                <div class="w-4 flex items-center justify-center">
                    <img src="assets/svg/icon-sidenav-config.svg" alt=""/>
                </div>
                <span>Configuraciones</span>
            </div>
        </div>
        <ng-template #optionsAyuda>
            <div class="botonBorde bg-[#F7F7F9] border-[#C5C5C5] border-solid text-[var(--color-black-alt)] text-[16px]" cdkMenu>
                <div class="flex flex-col" cdkMenuGroup>
                    <div class="flex flex-row items-center gap-2.5 cursor-pointer py-2.5 px-3 hover:bg-gray-200" cdkMenuItem (click)="openDialogContactAdministrador()">
                        <img src="assets/svg/sidenav/sidenav-icon-support.svg" alt=""/>
                      <span>Contactar asesor</span>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #optionsConfigurations>
            <div class="botonBorde bg-[#F7F7F9] border-[#C5C5C5] border-solid text-[var(--color-black-alt)] text-[16px] min-w-[280px]" cdkMenu>
                <div class="flex flex-col" cdkMenuGroup>
                    <div class="flex flex-row items-center justify-between cursor-pointer py-2.5 px-3 hover:bg-gray-200">
                        <div class="flex flex-row items-center gap-2.5">
                            <img src="assets/svg/sidenav/sidenav-icon-moon.svg" alt=""/>
                            <span>Modo oscuro</span>
                        </div>
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" [formControl]="funcionesCompartidasService.ctrlModoOscuro" value="" class="sr-only peer">
                            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                        </label>
                    </div>
                    <div class="flex flex-row items-center justify-between cursor-pointer py-2.5 px-3 hover:bg-gray-200" *ngIf="userData && !adminLogged">
                        <div class="flex flex-row items-center gap-2.5">
                            <img src="assets/svg/sidenav/sidenav-icon-alert.svg" alt=""/>
                            <span>Notificaciones</span>
                        </div>
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" [formControl]="funcionesCompartidasService.ctrlNotificaciones" value="" class="sr-only peer">
                            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                        </label>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>