<mat-drawer-container class="w-full h-screen grid grid-cols-[250px_calc(100vw-250px)] overflow-x-hidden">
  <mat-drawer #drawer [(opened)]="opened" [mode]="isMovil ? 'over' : 'side'" class="bg-side !border-0" id="sidenav">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content class="!flex flex-col" [ngClass]="compartidoService.ctrlModoOscuro.value ? 'bg-[#1d2329]' : 'bg-[#E6F9F9]'">
    <app-toolbar (toggleSidenav)="drawer.toggle()"></app-toolbar>
    <div class="px-5 py-5 flex justify-center grow">
      <div class="grow">
        <router-outlet></router-outlet>
      </div>
      <!-- <div>
        <h1 class="text-3xl font-semibold">Lista de Usuarios</h1>
      </div> -->
    </div>
  </mat-drawer-content>
</mat-drawer-container>