<div class="flex flex-col h-full">
    <div class="grow flex justify-center items-center">
        <div class="flex flex-col gap-[44px] text-[#49454F]">
            <span class="text-[57px] ">¿Cómo puedo ayudarte?</span>
            <div class="flex flex-row gap-3 text-[22px] leading-[28px] justify-center">
                <div class="!rounded-xl bg-[#E6E0E9] p-4 max-w-[254px] h-[226px] relative botonApariencia cursor-pointer hover:bg-[#B4AFB7]">
                    <span>¿Que tipo de seguro necesito?</span>
                    <div class="rounded-full bg-white flex justify-center items-center w-10 h-10 absolute bottom-0 right-0 mb-4 mr-4">
                        <img src="assets/svg/icon-world.svg" alt=""/>
                    </div>
                </div>
                <div class="!rounded-xl bg-[#E6E0E9] p-4 max-w-[254px] h-[226px] relative botonApariencia cursor-pointer hover:bg-[#B4AFB7]">
                    <span>Preguntas frecuentes</span>
                    <div class="rounded-full bg-white flex justify-center items-center w-10 h-10 absolute bottom-0 right-0 mb-4 mr-4">
                        <img src="assets/svg/icon-world.svg" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center p-2.5">
        <div class="relative flex w-11/12">
            <input class="bg-[#ECE6F0] text-[16px] text-[#49454F] leading-6 py-3 pl-4 !rounded-3xl pr-[59px] w-full botonApariencia" type="text" placeholder="Escribe un mensaje...">
            <div class="absolute inset-y-0 right-0 flex items-center justify-center pr-2.5">
                <img src="assets/svg/icon-send.svg" alt=""/>
            </div>
        </div>
    </div>
</div>